<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A website to help decide what is for dinner">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>What should Sarah eat?</title>
</head>
<body>
    <header>
        <h1>What should Sarah eat?</h1>
    </header>
    <main>
        <ul>
            {{ListGoesHere}}
        </ul>
    </main>
    <footer>
    </footer>
    <script src="script.js"></script>
</body>
</html>