<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A website to help decide what is for dinner">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{{Name}}</title>
</head>
<body>
    <header>
        <h1>{{Name}}</h1>
    </header>
    <main>
        {{LinkOrBook}}
        <div>Cuisine: {{Cuisine}}</div>
        <div>Protein: {{Protein}}</div>
        <div>Cooking time in minutes: {{CookingTimeInMinutes}}</div>
    </main>
    <footer>
    </footer>
    <script src="script.js"></script>
</body>
</html>